<div class="breadcrumbs-block">
    <div class="container-fluid">
        <ul class="breadcrumbs">
            <li><a href="#">Ana səhifə</a></li>
            {% for title in path %}
                {% if loop.last %}
                    <li>{{ title }}</li>
                {% else %}
                    <li><a href="#">{{ title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
