<header class="header {{ headerClass }}">
    {% if sectionTitle != ''%}
    <div class="container-fluid">
        <h1 class="section-title">{{ sectionTitle }}</h1>
    </div>
    {% endif %}
</header>