{% extends "../templates/layout.njk" %}
{% block content %}
    <!-- 404 not found -->
    <section class="not-found">
        <div class="container-fluid">
            <h1><b>404</b> <br> Səhifə tapılmadı</h1>
        </div>
    </section>
    <!-- 404 not found -->
{% endblock %}