{% extends "../templates/layout.njk" %}
{% block content %}
    <!-- Breadcrumbs -->
    {% set path=['Main Page'] %}
    {% include "partials/bread-crumbs.njk" %}
    <!-- End Breadcrumbs -->

{% endblock %}
