<!DOCTYPE html>
<html lang="{{html_lang}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <style>
            .pure-table {
                /* Remove spacing between table cells (from Normalize.css) */
                border-collapse: collapse;
                border-spacing: 0;
                empty-cells: show;
                border: 1px solid #cbcbcb;
            }
            .pure-table caption {
                color: #000;
                font: italic 85%/1 arial, sans-serif;
                padding: 1em 0;
                text-align: center;
            }
            .pure-table td,
            .pure-table th {
                border-left: 1px solid #cbcbcb;
                /*  inner column border */
                border-width: 0 0 0 1px;
                font-size: inherit;
                margin: 0;
                overflow: visible;
                /*to make ths where the title is really long work*/
                padding: 0.5em 1em;
                /* cell padding */
            }

            /* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
            .pure-table td:first-child,
            .pure-table th:first-child {
                border-left-width: 0;
            }

            .pure-table thead {
                background-color: #e0e0e0;
                color: #000;
                text-align: left;
                vertical-align: bottom;
            }

            /*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
            .pure-table td {
                background-color: transparent;
            }
            .pure-table-odd td {
                background-color: #f2f2f2;
            }

            /* nth-child selector for modern browsers */
            .pure-table-striped tr:nth-child(2n) td {
                background-color: #f2f2f2;
            }

            /* BORDERED TABLES */
            .pure-table-bordered td {
                border-bottom: 1px solid #cbcbcb;
            }
            .pure-table-bordered tbody > tr:last-child > td {
                border-bottom-width: 0;
            }
        </style>
    </head>
    <body>

        <h1>{{title}}</h1>
        <table class="pure-table pure-table-bordered pure-table-striped">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Last modifed</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td>
                            <a href="./{{page.name}}?v={{ version }}" target="_blank">{{page.name}}</a>
                        </td>
                        <td>{{page.mtime}}</td>
                        <td>{{page.birthtime}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
