$breakpoints: ("xs-phone": 350px,
        "phone": 420px,
        "tablet": 767px,
        "medium" : 991px,
        "wrapper": 1024px,
        "desktop": 1200px,
        "widescreen": 1299px,
        "laptop": 1399px,
        "Xwidescreen": 1680px);
// ligatured operators ≥ ≤
@import "bootstrap/bootstrap";
@import "vendors/include-media";
@import 'vendors/normalize';
@import "base/variables";
//@import "vendors/slick";
@import "vendors/burger";
@import "vendors/viewbox";
@import "vendors/modal-video.min";
//@import 'vendors/fancybox';
@import "base/mixins";
//@import "base/fonts";
@import "base/functions";
@import "base/reset";
@import "base/typography";
@import "base/helpers";
@import "parts/header";
@import "parts/footer";
@import "parts/bread-crumbs";
@import "parts/section/not-found";

@import "base/forms";
@import "vendors/flickity";
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

#all_parts {
  flex: 1;
}

html {
  font-size: $font-size-base;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

ul {
  @extend %listreset
}

hr {
  margin: 0;
  border-color: #ECEDF0;
}

.container-fluid {
  max-width: 1350px;
}
